**Exercise 1: Create a Jupyter Notebook**

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. C/C++
3. R.
4. SQL
5. Java
6. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pytorch
3. Numpy
4. Pandas
5. Matplotlib
6. Keras

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

Data Science Tools

|Term|Definition|
|----|----------|
| Apache MLlib | Language that makes machine learning scalable |
| Apache Spark | A general-purpose cluster-computing framework allowing you to process data using compute clusters |
| API | Application programming interface allows communication between two pieces of software |
| Caffe | A deep learning algorithm repository built with C++ with Python and Matlab bindings |
|CDLA | Community Data License Agreement |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
Result = 33 + 23
print(Result)

56

In [2]:
Result = 33 * 23
print(Result)

759

**Exercise 8 - Create a code cell to multiply and add numbers**

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours , "Hours")

3.3333333333333335 Hours

**Exercise 10 - Insert a markdown cell to list Objectives**

**Exercise 3**

**Exercise 10 - Insert a markdown cell to list Objectives**

## Author
Rando